<table>
  <tr>
    <td><%= f.label :title %></td>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <td><%= f.label :photo %></td>
    <td><%= f.file_field :photo %></td>
  </tr>
  <tr>
    <td><%= f.label :credit %></td>
    <td><%= f.text_field :credit %></td>
  </tr>
</table>